body{
}
.column{
  box-sizing: border-box;
  padding:  20px 40px;
  width:  100%;
  float:  left;
  height: 100%;
}
.col-left{
  left:  0;
  position: relative;
  background-color: #fff;

}
.row{
    margin-bottom: 10px;
}

.col-right{
  background-color: #ccc;
}
.block-input{
  width:  100%;
  float: left;
  margin-bottom:  5px;
}

pre{
  margin-left: 20px;
  line-height: 1.2;
  overflow: inherit;
  word-break: break-all;
   white-space: pre-wrap;
}
pre.braces{
  margin-left: 0px;
}

form{
  width:  500px;
  margin:  0 auto;
}

.form-label {
    color: #18ad9f;
    margin: 0;
  }

  .form-label span{
    color:  #666;
  }
  .form-check-inline {
      margin-right: 10px;
      margin-left: 10px;
  }

@media (min-width: 991px) {
  .column{
    width:  50%;
    padding-bottom:  100px;
  }
  .col-right{
    right:  0;
    padding-top:  50px;
    position:  fixed;
  }
}













